@using SPhone.Models;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@model List<ProductVariation>;

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Product</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="d-flex justify-content-end mb-3">
            <div class="btn btn-success">Thêm Sản phẩm</div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng sản phẩm
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Tồn kho</th>
                            <th>Hình ảnh</th>
                            <th>Giá</th>
                            <th>Giá đã giảm</th>
                            <th>Hoạt động</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Tồn kho</th>
                            <th>Hình ảnh</th>
                            <th>Giá</th>
                            <th>Giá đã giảm</th>
                            <th>Hoạt động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{

                            foreach (ProductVariation c in Model)
                            {
                                <tr>
                                    <th>@c.Id</th>
                                    <th>@c.Name</th>
                                    <th>@c.Qty</th>
                                    <th>@c.Image</th>
                                    <th>@c.Price.ToString("C", new CultureInfo("vi-VN"))</th>
                                    <th>@c.DiscountedPrice?.ToString("C", new CultureInfo("vi-VN"))</th>
                                    <th>@((c.IsActive == true) ? "Hoạt động " : "Đã ẩn")</th>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>